
body{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/26/13/47/dark-1932208__340.jpg");
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
#title{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    border-bottom: 2px solid;
    width: 8.3rem;
    padding-bottom: 4px;
    border-collapse: collapse;

    
}
#fl {
    margin-left: 40%;
}
.space{
    margin-bottom: 40px;
    
}
.space img{
    float: left;
    height: 400px;
    width: 30%;
    padding: 1.66%;
}

.footer{
    clear: both;
}