a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
#title{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    border-bottom: 2px solid;
    width: 8.3rem;
    padding-bottom: 4px;
    border-collapse: collapse;
}
#tlt{
    position: relative;
    width: fit-content;
    clear: both;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 20px;
    left: 40%;

}
.space{
   width: 100%;
   position: relative;
   left: 60px;
}
.space img{
    position: relative;
    float: left;
    height: 350px;
    width: 30%;
    padding: 1.66%;
}
footer{
    clear: both;
    width: 100%;
    border-top: 1px solid black;
}
footer div{
    text-align: center;
    padding: 30px;
}
