*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    color: black;
    display: flex;
    flex-direction: column;
}
/* index page style begin */
header{
    position: relative;
    top: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}
nav{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding:20px;
    padding-right: 5%;
    transition: 1s;
}
nav ul li a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    transform: anim 0.1s;
}
nav ul li:hover{
    background-color:rgb(133, 133, 187);
    color: white;
}
nav ul li:nth-child(1){
background-color: rgb(133, 133, 187);;
}
.container{
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    min-height: calc(100vh - 145px);

}
#main{
    clear: both;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 30px;
}
.title .logo{
    position: relative;
    margin-top: 100px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(163, 73, 73);
}
.title .logo img{
    width: 250px;
    height: 250px;
}
.head h1{
    text-align: center;
}
.head{
    width: 900px;
    margin-top: 10px;
    padding: 30px;
    float: left;
}
.card{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: wheat;
    margin-bottom: 50px;
}
.col2{
    display: flex;
    flex-direction: column;
}
#footer{
    position: absolute;
    top: 100%;
    width: 100%;
    display: block;
    clear: both;
}
.divide{
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    bottom: 40px;
}
.medias{
    position: absolute;
    padding-top: 10px;
    text-align: center;
    font-size: larger;
    border-top: 1px solid black;
    width: 100%;
}







/* contact page style begin */
.wrapper{
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;
}
.map{
    flex: 1;
}
.map iframe{
    width: 500px;
    height: 400px;
}
#fr{
    width: 100px;
}
/* form style */

.form {
	margin:10px auto;
	max-width: 500px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form input[type=text], 
.form input[type=url],
.form input[type=email],
textarea, 
select{
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;	
}
.form input[type=text]:focus, 
.form input[type=url]:focus,
.form input[type=email]:focus,
.form textarea:focus, 
.form select:focus{
	box-shadow: 0 0 8px rgb(148, 217, 235);
	border: 1px solid #88D5E9;
}
.form .field-divided {
	width: 49%;
}

.form .field-long{
	width: 100%;
}
.form select{
    width: 100%
}
.form textarea{
	height: 100px;
}
.form input[type=submit]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form input[type=submit]:hover{
    background-color: rgb(60, 126, 143);
}
.form .required{
	color:red;
}
.form .optional{
    color: grey;
}

/* my work page */

.area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(204, 202, 200);
}
.area li a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 30px;
}
.area li{
    list-style: none;
    float: left;
    transition: all 1s;
}
.area li:hover{
    background-color: coral;
}






