@media screen and (max-width: 640px){
.container{
        width: unset;
        margin: unset;
        align-items: unset;
}    
header nav{
    width: 100%;
}    
header li{
    width: 100%;
}   

nav ul li {
    display: block;
    width: 100%;
    text-align: center;
} 
.title .logo{
    clear: both;
    border: none;
}   
.title .logo img{
    position: relative;
}
.title .head{
    display: inline-block;
    margin-left: 50px;
}
.title .head h1{
text-align: center;
}
.separate{
    width: 100%;
    border-bottom: 2px solid brown;
}
#main{
    display: block;
    width: 100%;
    margin-left: 20px;
}
#main .col1{
    padding: 20px;
    padding-left: 40px;  
}
.main .col2{
    width: 100%;
}
.card{
    width: 22em;
    
}
/* for contact page */
.wrapper{
    display: block;
}
.map{
    width: 300px;
}
.map, form{
    flex: unset;
    margin: 4%;
}
.map iframe{
    width: 200px;
    height: 200px;
}
.form{
    margin: unset;
    width: 40%;
}
/* for gallery */
.space div{
    clear: both;
}
.space div img{
    margin: unset;
    padding-left: 0;
    width: 260px;
    height: 250px;
}
#tlt{
    left: 15%;
    text-align: start;
    padding: 0 0 10px;
    border: none;
    width: 40px;
}
.flags{
    display: block;
}
.container{
    position: relative;
}
.wrapper1{
    position: absolute;
    height: 350px;
    width: 350px;
    margin: 5%;
    padding: 5%;

}
.container1{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container1 .wd{
    width: 100px;
    height: 100px;
    
}
}

@media screen and (max-width : 700px) and (max-width : 1200px) 
{
    .container{
        width: unset;
        margin:unset;

    
    }
body,li a{
    font-size: 0.9em;
}
header, footer{
    margin: unset;
    text-align: center;

}
  

.title .logo{
    clear: both;
    margin-left: 20%;
    border: none;

}
#main{
    width: 50%;
} 
.title .head{
    width: 68%;
}

/* contact page */
.wrapper{
    flex-direction: column;
    margin-left: 10%;
}
.map{
    flex: none;
    width: 70%;
}
.map iframe{
    width: 58%;
}
.form{
    margin: unset;
    width: 100%;
}

/* gallery */
.space div{
    clear: both;
}
.space img{
    width: 60%;
    padding: 3%;
    height: 500px;
}
}
